<div>
  <h1>Create a new article</h1>
  <form action="/articles/<%= @article.id %>" method="POST">
  <input type='hidden' id='hidden' name='_method' value='PATCH'>
  <div>
      <label>
        <p>Title</p>
        <input type="text" id="title" name="article[title]" value='<%= @article.title %>'/>
      </label>
      <label>
        <p>Content</p>
        <input type="text" id="content" name="article[content]" value='<%= @article.content %>' style='width: 100%; height: 10em;'/>
      </label>
    </div>
    <input type="submit" value="Submit" style='margin-top: 1em;'/>
  </form>
</div>
