<div>
  <% @articles.each do |article| %>
    <h1><a href="/articles/<%= article.id %>"><%= article.title %></a></h1>
    <p><%= article.content %></p>
  <% end %>
  <form action='/articles/new' method='GET'>
    <input type='submit' id='submit' value='New article'>
  </form>
</div>
